@import '../../node_modules/reset-css/reset'
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css)

html, body
  height: 100%

body
  font-family: 'Noto Sans JP', sans-serif
  text-align: center
  display: flex
  align-items: center
  justify-content: center

input[type="checkbox"]
  display: none

  &:checked + .modal
    opacity: 1
    transform: scale(1)

.modal
  z-index: 999
  display: flex
  transform: scale(0)
  transition: .8s
  opacity: 0
  position: fixed
  align-items: center
  background: #fff
  border-radius: 8px
  box-shadow: 0 0 24px #bbb
  width: 480px
  height: 560px

  @media screen and (max-width: 411px)
    width: 85%

  &__inner
    margin: 64px

    @media screen and (max-width: 411px)
      margin: 40px

  &__img
    img
      border-radius: 80px
      width: 160px
      height: 160px

  &__text
    margin-top: 64px

    .name
      p
        color: #333
        font-family: yu-mincho-5go-kana
        font-size: 28px

    .description
      margin-top: 32px

      p
        font-size: 14px
        font-weight: lighter
        text-align: justify
        letter-spacing: 1.4px
        line-height: 1.8

    label
      .closeButton
        cursor: pointer
        position: absolute
        right: -20px
        bottom: -20px
        width: 40px
        height: 40px
        border-radius: 20px
        background: #800080
        box-shadow: 0 0 24px #bbb
        transition: all .5s

        &:hover
          background: #be86c8
        p
          color: #fff
          font-size: 16px
          font-weight: bold
          width: 100%
          height: 100%
          display: flex
          align-items: center
          justify-content: center

.container
  animation: moveCircle .8s ease-in-out infinite alternate
  background: #efefef
  border-radius: 90px
  width: 180px
  height: 180px

  &__inner
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 160px
    height: 160px
    border-radius: 80px
    overflow: hidden
    z-index: 1

  &__img
    transition: all .5s ease-in-out

    img
      width: 100%
      height: 100%

  &__text
    opacity: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    transition: all .5s ease-in-out
    p
      color: #fff
      font-weight: bold
      letter-spacing: 4px

  label
    cursor: pointer
    &:hover > .container--inner__img
      transform: scale(1.2, 1.2)
      filter: blur(4px) brightness(40%)
    &:hover > .container--inner__text
      opacity: 1

@keyframes moveCircle
	0%
    width: 180px
    height: 180px
	100%
    border-radius: 110px
    width: 220px
    height: 220px

@keyframes rotation
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
