doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='./css/style.css' rel='stylesheet')
    title Yoda Modal
    meta(name='viewport' content='width=device-width, initial-scale=1')
  
  body
    input(type="checkbox" name="modalPop" id="pop01")
    .modal
      .modal__inner
        .modal__img
          img(src="img/yoda_face.jpg")
        .modal__text
          .name
            p よだ ゆうき
          .description
            p 2000年5月5日生まれ。乃木坂46の3期生メンバーとしてグループに加入。18枚目シングル「逃げ水」で初の選抜入り。先輩の齋藤飛鳥には「よだっちょ」と呼ばれている。
          label(for="pop01")(ontouchstart='')
            .closeButton
              p ×
    .container
      .container__inner
        label(for="pop01")(ontouchstart='')
          .container__img
            img(src="img/yoda_face.jpg")
          .container__text
                p Open
    script(src='./js/typekit.js' type='text/javascript')
