doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(href='./css/style.css' rel='stylesheet')
    title npmScript-test
    meta(name='viewport' content='width=device-width, initial-scale=1')
  
  body
    .container
      .container--inner
        .container--inner__box
          .box
            .imgBox
              img(src="img/yoda_face.jpg")
            .textBox
              p
                span O
                span p
                span e
                span n
